$color-primary: #FEE600;
$color-secondary: #3483FA;
$color-gray-dark: #333333;
$color-gray-middle: #666666;
$color-gray-light: #999999;
$color-gray-ultra-light: #EEEEEE;
$color-white: #FFFFFF;

$gap-big: 32px;
$gap-middle: 16px;
$gap-small: 8px;

$text-extra-big: 46px;
$text-big: 24px;
$text-middle: 18px;
$text-small: 16px;
$text-extra-small: 12px;

$radius: 4px;

$max-thumbnail-size: 180px;
$max-picture-size: 680px;
